@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

aside {
    background-color: #f1c002;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.main-content {
    margin-left: 20%;
    background-color: midnightblue;
}

ol {
    margin: 15px;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}

ol li {
    margin-bottom: 10px;
}

a {
    text-decoration: underline;
    color: black;
}

a:hover {
    color: white;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #565656;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #989898;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

