* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

aside {
    background-color: #f1c002;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.main-content {
    margin-left: 20%;
    background-color: white;
}




