@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

body {
    background-color: whitesmoke;
}

.card {
    width: 30%;
    border: 4px solid black;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 10px;
    align-content: center;
    background-color: whitesmoke;
}

.card-container {
    text-align: center;
    background-color: midnightblue;
}

.my-images img {
    width: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 250px;
    align-content: center;
}

hr {
    background-color: #646464;
    height: 3px;
    border: none;
}

#overlay {
    width: 100%;
    object-fit: cover;
    object-position: center top;
    height: 70vh;
}

.title {
    background-color: midnightblue;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.title:hover {
    color: #4ac1f7;
    transform: rotateX(10deg) rotateY(10deg);
    box-shadow: 20px 20px 40px rgba(43, 206, 255, 0.3);
}

.flip-card {
    background-color: transparent;
    width: 267px;
    height: 190px;
    perspective: 1000px;
    font-family: sans-serif;
    margin: 10px auto;
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
    rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: coral;
    text-align: center;
    display: flex;
}

.flip-card-back {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
    bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    display: flex;
}






