
.card {
    width: 38%;
    border: 4px solid black;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 10px;
    align-content: center;
}

.card-container {
    text-align: center;
}

.my-images img {
    width: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 250px;
    align-content: center;
}

hr {
    background-color: #646464;
    height: 3px;
    border: none;
}

#overlay {
    width: 100%;
    object-fit: cover;
    object-position: center top;
    height: 70vh;
}

.title {
    text-align: center;
    margin: 20px auto;
}



