@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');

body {
    background-color: whitesmoke;
}

.card {
    width: 38%;
    border: 4px solid black;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 10px;
    align-content: center;
    background-color: whitesmoke;
}

.card-container {
    text-align: center;
    background-color: midnightblue;
}

.my-images img {
    width: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 250px;
    align-content: center;
}

hr {
    background-color: #646464;
    height: 3px;
    border: none;
}

#overlay {
    width: 100%;
    object-fit: cover;
    object-position: center top;
    height: 70vh;
}

.title {
    text-align: center;
    margin: 20px auto;
    background-color: midnightblue;
    font-family: "Stack Sans Headline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: whitesmoke;
}




