{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Teams</title>
    <link rel="stylesheet" href="{% static "core/css/base.css" %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
<aside>
    <h1>
        <div class="chart-card">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <a href="/" class="speech-bubble">The Best Teams</a>
                    </div>
                    <div class="flip-card-back">
                        <a href="/" class="speech-bubble">The Best Teams</a>
                    </div>
                </div>
            </div>
        </div>
    </h1>
    <nav>
        <ol>
            {% for team in teams %}
                <li>
                    <button>
                        <span class="transition"></span>
                        <span class="gradient"></span>
                        <span class="label">
                            <a href="{% url 'team-details' team.id %}" class="hover-link">{{ team.name }}</a>
                        </span>
                    </button>
                </li>
            {% endfor %}
        </ol>

    </nav>
</aside>
<main>
    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
</main>
<script src="{% static "core/js/main.js" %}"></script>
</body>
</html>