{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
{% endblock %}

{% block content %}
    <img id="overlay" src="{% static 'core/images/psg_lift_ucl.jpg' %}" alt="">
    <h1 class="title">The best teams in the world</h1>
    <div class="card-container">

        {% for team in teams %}
            <div class="card">
                <div class="my-images">
                    {% if team.image %}
                        <img src="{{ team.image.url }}" alt="{{ team.name }}">
                    {% else %}
                        <img src="{% static 'core/images/default-image.jpg' %}" alt="{{ team.name }}">
                    {% endif %}

                </div>
                <hr>
                <p><b>{{ team.name }}</b></p>
                <p>Stadium: <b><i>{{ team.stadium }}</i></b></p>
                <p>Rating: <b>{{ team.rating }}</b></p>
                <p>Trophies: <b><i>{{ team.trophies }}</i></b></p>
                <p>League: <b><i>{{ team.league }}</i></b></p>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'core/js/main.js' %}"></script>
{% endblock %}