{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/articles.css' %}">
{% endblock %}

{% block content %}
    <h1 id="title">{{ team.name }}</h1>
    {% if team.image %}
        <img class="logo" src="{{ team.image.url }}" alt="{{ team.name }}">
    {% else %}
        <img src="{% static 'core/images/default-image.jpg' %}" alt="No image available">
    {% endif %}
    {% for article in articles %}
        <div class="box">
            <p class="paragraph">{{ article.description }}</p>
        </div>
    {% empty %}
        <p>Test</p>
    {% endfor %}
    <br>
    <h3>Link to team website: </h3>

    <br>

    {% if articles %}
        {% with articles.first as first_article %}
            <a class="demo" href="{{ first_article.link_to_site }}" target="_blank">{{ team.name }}</a>
        {% endwith %}
    {% endif %}
    {% for i in loop %}
        <br>
    {% endfor %}
    {% for article in articles %}
        <p>Last five: {{ article.last_five }}</p>
    {% endfor %}
    <hr class="separator">
    <p style="font-size: larger">{{ team.name }}'s card:</p>
    <br>
    <div class="detail-card">
        <img src="{{ team.image.url }}" alt="{{ team.name }}" width="250px">
        <hr class="separator">
        <div class="chart-card">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <p>Stadium: <b><i>{{ team.stadium }}</i></b></p>
                        <p>Rating: <b>{{ team.rating }}</b></p>
                        <p>Trophies: <b><i>{{ team.trophies }}</i></b></p>
                        <p>League: <b><i>{{ team.league }}</i></b></p>
                    </div>
                    <div class="flip-card-back">
                        <p>{{ team.name }}'s card</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}